@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
#password {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}
.password-container {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  border-radius: 20px;
  background-color: #f7f7f7;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.app-heading {
  color: grey;
}
.btn-standard {
  min-width: 120px;
}